.mainContainer{
    background: url('../../../assets/herobg.png');    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}


.mainContainer h1{
    font-size: 4rem;
    text-align: center;
}

.mainContainer span{
    color: #3d2a73;
    font-size: 6rem;
}